{% extends 'base.html.twig' %}

{% block title %}Translations{% endblock %}

{% block body %}
    <h2>Translation</h2>
    <p>Do you wish to translate <a href="{{ path('strings') }}">strings</a> or <a href="{{ path('pages') }}">pages</a>?</p>
{% endblock %}